# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
vite-dev.*.log
PROJECT_FUNCTIONS.md
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.tsbuildinfo
*.exe
ztest/
CLAUDE.md
deployment/
